# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv314/
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Database files (if any)
# =========================
*.db
*.sqlite3

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/
